.calendar-container {
    min-height: 300px;
}
.calendar-container .event-container {
    overflow: hidden;
    position: absolute;
    top: 20px;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.calendar-container .week-daynames, .calendar-container .week-daynames table {
    width: 100%;
    position: absolute;
    table-layout: fixed;
}
.calendar-container .week-daynames th {
    padding-left: 10px;
}

.calendar-container .month-row {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.calendar-container .month-row-table {
    position: absolute;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.calendar-container .month-row-table td {
    border-left: 1px solid #ddd;
}
